examples/actions.json
[{"id":"1727f52037fe0393","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":140,"wires":[["eab116d878cd42e7"]]},{"id":"eab116d878cd42e7","type":"Camera Station","z":"470ac487d7093493","name":"","server":"12ac9e64c897f016","action":"Info","x":750,"y":140,"wires":[["f03fae402e6ac046"]]},{"id":"f03fae402e6ac046","type":"debug","z":"470ac487d7093493","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":140,"wires":[]},{"id":"2472e3cefec04d69","type":"catch","z":"470ac487d7093493","name":"","scope":null,"uncaught":false,"x":340,"y":80,"wires":[["982cf145647a1fc3"]]},{"id":"982cf145647a1fc3","type":"debug","z":"470ac487d7093493","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"d08626984d9987e3","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":200,"wires":[["11dcb84aeac0d68c"]]},{"id":"11dcb84aeac0d68c","type":"Camera Station","z":"470ac487d7093493","name":"","server":"12ac9e64c897f016","action":"Inventory","x":760,"y":200,"wires":[["b101eea33b967975"]]},{"id":"b101eea33b967975","type":"debug","z":"470ac487d7093493","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":200,"wires":[]},{"id":"834fc310c1878055","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":420,"wires":[["873512650927b8f7"]]},{"id":"840a88a8ebbb9c45","type":"Camera Station","z":"470ac487d7093493","name":"","server":"12ac9e64c897f016","action":"List recordings","x":780,"y":420,"wires":[["67a621e264c79c11"]]},{"id":"67a621e264c79c11","type":"debug","z":"470ac487d7093493","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":420,"wires":[]},{"id":"873512650927b8f7","type":"function","z":"470ac487d7093493","name":"Today","func":"var date = new Date();\ndate.setHours(0);\ndate.setMinutes(0);\ndate.setSeconds(0);\n\nmsg.payload = {\n    camera: \"11112_b72b3225-daf0-410e-bc39-ae2f6ff39b8d\",\n    from: date.getTime()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":420,"wires":[["840a88a8ebbb9c45"]]},{"id":"812efa16d76814a4","type":"comment","z":"470ac487d7093493","name":"You need to change camera ID from the inventory list","info":"","x":450,"y":280,"wires":[]},{"id":"aefc52bd78e69e84","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":340,"wires":[["5383cfffc5e6c8f8"]]},{"id":"c1708d5c0f1ea14b","type":"Camera Station","z":"470ac487d7093493","name":"","server":"12ac9e64c897f016","action":"Start recording","x":780,"y":340,"wires":[["1edc58160f412950"]]},{"id":"1edc58160f412950","type":"debug","z":"470ac487d7093493","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":340,"wires":[]},{"id":"5383cfffc5e6c8f8","type":"function","z":"470ac487d7093493","name":"Camera ID","func":"msg.payload = \"11112_b72b3225-daf0-410e-bc39-ae2f6ff39b8d\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":340,"wires":[["c1708d5c0f1ea14b"]]},{"id":"6b0d7f649684718c","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":380,"wires":[["70494f9058626944"]]},{"id":"3e3917a36695e93f","type":"Camera Station","z":"470ac487d7093493","name":"","server":"12ac9e64c897f016","action":"Stop recording","x":780,"y":380,"wires":[["02c1bd5f06bc96a5"]]},{"id":"02c1bd5f06bc96a5","type":"debug","z":"470ac487d7093493","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":380,"wires":[]},{"id":"70494f9058626944","type":"function","z":"470ac487d7093493","name":"Camera ID","func":"msg.payload = \"11112_b72b3225-daf0-410e-bc39-ae2f6ff39b8d\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":380,"wires":[["3e3917a36695e93f"]]},{"id":"e0ac09f7293c7e51","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":460,"wires":[["52d93a336723f4b6"]]},{"id":"28e7eb2b897f1892","type":"Camera Station","z":"470ac487d7093493","name":"","server":"12ac9e64c897f016","action":"Bookmark","x":760,"y":460,"wires":[["ac2d3c2abc55967c"]]},{"id":"ac2d3c2abc55967c","type":"debug","z":"470ac487d7093493","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":460,"wires":[]},{"id":"52d93a336723f4b6","type":"function","z":"470ac487d7093493","name":"Bookmark","func":"msg.payload = {\n    camera: \"11112_b72b3225-daf0-410e-bc39-ae2f6ff39b8d\",\n    name: \"Suspicious\",\n    text: \"Something to look closer on\"\n//    time: new Date()   Use if bookmark a different time than now\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":460,"wires":[["28e7eb2b897f1892"]]},{"id":"463ea0e0497f3565","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":660,"wires":[["f7185a13b9ef6f48"]]},{"id":"ae1c5aa5198b95fe","type":"Camera Station","z":"470ac487d7093493","name":"","server":"12ac9e64c897f016","action":"Export MP4","x":750,"y":660,"wires":[["93810bbce6a1f95e"]]},{"id":"93810bbce6a1f95e","type":"debug","z":"470ac487d7093493","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":660,"wires":[]},{"id":"f7185a13b9ef6f48","type":"function","z":"470ac487d7093493","name":"Export","func":"msg.payload = {\n    camera: \"11112_b72b3225-daf0-410e-bc39-ae2f6ff39b8d\",\n    from: new Date().getTime() - 5000,\n    to: new Date().getTime(),\n    audio: false\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":660,"wires":[["ae1c5aa5198b95fe"]]},{"id":"de40b59cded28100","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":500,"wires":[["a19c8e475430011d"]]},{"id":"1ae2a772b59d7f00","type":"Camera Station","z":"470ac487d7093493","name":"","server":"12ac9e64c897f016","action":"Trigger","x":760,"y":500,"wires":[["1ee9c08972f34753"]]},{"id":"1ee9c08972f34753","type":"debug","z":"470ac487d7093493","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":500,"wires":[]},{"id":"a19c8e475430011d","type":"function","z":"470ac487d7093493","name":"Trigger High","func":"//Note that the trigger ID must be defined in the ACS \n\nmsg.payload = {\n    name: \"My trigger\",\n    state: true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":500,"wires":[["1ae2a772b59d7f00"]]},{"id":"5b74937058497a4a","type":"function","z":"470ac487d7093493","name":"10 seconds","func":"//Note that the trigger ID must be defined in the ACS \n\nmsg.payload = {\n    name: \"My trigger\",\n    duration: 10\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":580,"wires":[["1ae2a772b59d7f00"]]},{"id":"82362034dff236fe","type":"function","z":"470ac487d7093493","name":"Trigger High","func":"//Note that the trigger ID must be defined in the ACS \n\nmsg.payload = {\n    name: \"My trigger\",\n    state: false\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":540,"wires":[["1ae2a772b59d7f00"]]},{"id":"916ed7b22f063253","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":540,"wires":[["82362034dff236fe"]]},{"id":"092639b6f4e9d651","type":"inject","z":"470ac487d7093493","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":580,"wires":[["5b74937058497a4a"]]},{"id":"12ac9e64c897f016","type":"ACS Server","name":"","address":"","port":"55756"}]