examples/dashboard-playback.json
[{"id":"ed112390075205ae","type":"function","z":"9c531daf1ed7a53e","name":"Playback 6 econds from a camera","func":"//Assuming there is recording present in ACS for the camera serial number\n\nvar cameraSerialNumber = \"ACCC8EE6CE58\";\nvar time = new Date(new Date().getTime() - 10000);  //10 seconds back\nvar duration = 6;\n\n//Generate HTML5 Video block\nmsg.payload = '<video width=\"960px\" controls autoplay>';\nmsg.payload += '<source src=\"/playback?camera=' + cameraSerialNumber+'&time=' + time.toISOString() + '&duration=' + duration + '\"';\nmsg.payload += ' type=\"video/mp4\">';\nmsg.payload += '</video>';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":480,"wires":[["4ca38a2c376bbb50"]]},{"id":"4ca38a2c376bbb50","type":"ui_template","z":"9c531daf1ed7a53e","group":"9f8feb55e5445bfb","name":"Video","order":1,"width":"19","height":"12","format":"<div id=\"{{'video_'+$id}}\">\n</div>\n\n<script>\n(function(scope) {\nscope.$watch('msg', function(msg) {\n    if (msg) {\n        $(\"#video_\"+scope.$id).html(msg.payload);\n    }\n});\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":770,"y":480,"wires":[[]]},{"id":"9847299b5f546d0f","type":"ui_button","z":"9c531daf1ed7a53e","name":"","group":"9f8feb55e5445bfb","order":1,"width":"5","height":"1","passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":480,"wires":[["ed112390075205ae"]]},{"id":"eaad19c0a3cff6a3","type":"comment","z":"9c531daf1ed7a53e","name":"Edit function node with local settings","info":"","x":520,"y":440,"wires":[]},{"id":"5afd719d51a785cd","type":"group","z":"9c531daf1ed7a53e","name":"Local API used by Dashboard template node","style":{"fill":"#ffffbf","label":true,"color":"#000000"},"nodes":["df6e3873f0e418a4","3f85e0d131a2419a","a3767a866ab19de3","9af7e69091880a3b","7b1af58a3a67251c","618e0312e7a4defb","6797cddae592bc7c","c00d03259529a072","777cc39e4f4c1d7f","49d524f3d364c225","67f57c6e67f6720c","45cb6c42ce903039","06447367c7854176"],"x":114,"y":39,"w":1052,"h":342},{"id":"df6e3873f0e418a4","type":"Camera Station","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"","server":"12ac9e64c897f016","action":"Export MP4","x":730,"y":220,"wires":[["45cb6c42ce903039"]]},{"id":"3f85e0d131a2419a","type":"http in","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"","url":"/playback","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["a3767a866ab19de3"]]},{"id":"a3767a866ab19de3","type":"function","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"Process input","func":"msg.payload.from = new Date(msg.payload.time);\nmsg.payload.to = new Date( msg.payload.from.getTime() + (parseInt(msg.payload.duration) * 1000) );\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["9af7e69091880a3b"]]},{"id":"9af7e69091880a3b","type":"change","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"","rules":[{"t":"set","p":"playback","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[["6797cddae592bc7c"]]},{"id":"7b1af58a3a67251c","type":"catch","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"Input error","scope":["a3767a866ab19de3","8c88ccf84350a4b5"],"uncaught":false,"x":920,"y":340,"wires":[["618e0312e7a4defb"]]},{"id":"618e0312e7a4defb","type":"http response","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"","statusCode":"","headers":{},"x":1090,"y":220,"wires":[]},{"id":"6797cddae592bc7c","type":"Camera Station","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"","server":"12ac9e64c897f016","action":"Inventory","x":860,"y":160,"wires":[["c00d03259529a072"]]},{"id":"c00d03259529a072","type":"function","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"Make camera playback request","func":"\nvar cameraID = null;\nmsg.payload.forEach(function(item){\n    if( item.serial === msg.playback.camera)\n        cameraID = item.id;\n});\n\nif( !cameraID ) {\n    msg.payload = \"Invalid camera\";\n    msg.statusCode = 401;\n    node.error(\"Invalid Camera\", msg);\n    return;\n}\n\nmsg.payload = {\n    camera: cameraID,\n    from: msg.playback.from,\n    to: msg.playback.to,\n    audio: false\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":220,"wires":[["df6e3873f0e418a4"]]},{"id":"777cc39e4f4c1d7f","type":"catch","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"ACS Response Error","scope":["df6e3873f0e418a4","6797cddae592bc7c"],"uncaught":false,"x":580,"y":280,"wires":[["49d524f3d364c225"]]},{"id":"49d524f3d364c225","type":"change","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"500 No response","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACS response error","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":280,"wires":[["618e0312e7a4defb"]]},{"id":"67f57c6e67f6720c","type":"comment","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"/playback?camera=SERIAL&time=[ISO UTC]&duration=seconds","info":"","x":370,"y":80,"wires":[]},{"id":"45cb6c42ce903039","type":"function","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"header","func":"msg.headers = {};\nmsg.headers[\"Content-Type\"] = \"video/mp4\",\n//msg.headers['Content-Disposition'] = 'attachment; filename=acs.mp4';\nmsg.headers[\"Content-Length\"] = msg.payload.length;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":220,"wires":[["618e0312e7a4defb"]]},{"id":"06447367c7854176","type":"comment","z":"9c531daf1ed7a53e","g":"5afd719d51a785cd","name":"Instead of using ACS Camera ID, this API uses the cameras serial number","info":"","x":880,"y":80,"wires":[]},{"id":"12ac9e64c897f016","type":"ACS Server","name":"","address":"","port":"55756"},{"id":"9f8feb55e5445bfb","type":"ui_group","name":"Video","tab":"bb44ab4803a6ba18","order":1,"disp":false,"width":"19","collapse":false,"className":""},{"id":"bb44ab4803a6ba18","type":"ui_tab","name":"ACS Playback","icon":"dashboard","order":1,"disabled":false,"hidden":false}]